<div class="row">
    <div class="col-md" *ngFor="let s of squadra">
        <div class="card" style="width: 18rem;">
            <img src= {{s.foto}} class="card-img-top" alt="Immagine" height="300px">
            <div class="card-body">
                <h5 class="card-title">{{s.nome}}</h5>
                <p class="card-text">Anni: {{s.anni}}</p>
                <p class="card-text">Periodo: {{s.periodo}}</p>
                <p class="card-text">Gol Fatti: {{s.gol_fatti}} </p>
                <p class="card-text">Ruolo: {{s.ruolo}}</p>
            </div>
        </div>
    </div>
</div>
